/* FontAwesomeIcon 컴포넌트는 인라인 요소고,
로그인이란 영역은 블럭 요소인데 flex로 정렬이 된다?? */
.login-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
}

/* flex, 가운데 정렬 */
.nav-section {
    display: flex;
    justify-content: center;
}

.menu-area {
    display: flex;
    justify-content: center;
}
.menu-list {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
}
.menu-list li {
    padding: 10px;
}

.search-area {
    border: none;
    border-bottom: 1px solid black;
}

.goods:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 1s;
}

.product-img {
    display: flex;
    justify-content: flex-end;
}